.background-all{
    background-image: url('../images/background-login.jpg');
    position:fixed;
    padding:0;
    margin:0;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
}
.background-all-filter{
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: rgba(61, 170, 152, 0.6);
}
.form-login{
    width: 30%;
    height: 50%;
    margin: 10% auto;
    background-color: #FFF;
    border-radius: 12px 12px 12px;
    min-height: 250px;
}
.form-center{
    text-align: center;
}
.form-center{
    padding: 5px;
}
.section-forms{
    margin-top: 15%;
}
.inputs{
    padding: 10px 0;
}
.form-input{
    width: 70%;
    padding: 5px;
}
.enter{
    margin-top: 10%;
}
