.container{
	max-width: 100%;
}
.header-vendas{
	padding: 15px;
    background: #3daa9899;
}
.header-vendedor{
	font-size: 20px;
    font-weight: bold;
    color: #fbfafa;
    letter-spacing: 1.4px;
}
.main-vendas{
	padding: 30px;
}
.itens{
	border-right: 1px groove #3daa9899;
}
.listIten{
    padding: 5px 0;
}
.buttonList{
    background-color: #9E9E9E;
    color: #FFF;
    border: #ccc;
}
.buttonList:hover, .buttonFinaliza:hover, .buttonCancela:hover{
    background-color: black;
    color: #fff;
}
.buttonFinaliza{
    background-color: #4CAF50;
    border: #FFF;
}
.buttonCancela{
    background-color: red;
    border: #FFF;
}
#input{
    position: absolute;
    bottom: -23px;
    padding: 5px;
}
.footer{
	position: relative;
    bottom: 0;
    right: 0;
    margin: 140% 0 0 0;
}